.card {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.2s all;
  cursor: pointer;
}
button:active {
  border: none;
}
.card:hover {
  border: solid 1px black
}
.card__top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card__image {
  max-width: calc(100% - 100px);
  width: 100%;
}

.card__price {
  position: absolute;
  right: 70px;
  bottom: -40px;
  display: inline-block;
  padding: 8px;
  min-width: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.2;
  color: red;
}

.card__body {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  text-align: center;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.2;
  width: 100%;
  margin-top: 10px;
}

.card__button {
  width: 72px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: white;
  outline: none;
}
.card__button img:active {
  border: solid black 1px;
  border-radius: 50%;
}
.card__button:hover{
  border: none;
} 
.card__button:active {
  border: none;
} 

@media all and (max-width: 767px) {
  .card {
    margin-bottom: 16px;
    height: auto;
  }
}
